.navbar-wrapper {

    width: min(1100px,
            calc(100vw - 2rem));

    margin-inline: auto;

    padding-top: 2rem;

    position: sticky;
    top: 0.5rem;

    z-index: 100;
}

.navbar {

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 1.2rem 2rem;

    border-radius: 999px;

    background: rgba(255, 255, 255, 0.65);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(0, 0, 0, 0.08);

    /* box-shadow:
        0 8px 30px rgba(0, 0, 0, 0.08); */

    box-shadow:
        4px 3px 4px rgba(0, 0, 0, 0.35),
        8px 11px 20px rgba(0, 0, 0, 0.2),
        17px 21px 40px rgba(0, 0, 0, 0.1);
    ;
}

.navbar-logo {

    font-weight: 700;

    font-size: 1.1rem;
}

.navbar-links {

    display: flex;

    align-items: center;

    gap: 2rem;
}

.navbar-links a {

    color: var(--color-text);

    text-decoration: none;

    font-size: 0.95rem;

    transition: opacity 0.2s ease;
}

.navbar-links a:hover {

    opacity: 0.6;
}